.skill {
    /* background: rgb(108,148,175);
    background: radial-gradient(circle, rgba(108,148,175,1) 0%, rgba(41,36,40,1) 100%); */
    /* background: rgb(87,77,61);
    background: radial-gradient(circle, rgba(87,77,61,1) 34%, rgba(108,117,125,1) 100%); */
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(94,94,94,1) 100%);
}